apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: mesh-app-pgsql-secret
  namespace: mesh-apps
spec:
  refreshInterval: 5m
  secretStoreRef:
    name: {{ cyberark_subdomain }}.secretsmgr.cyberark.cloud
    kind: SecretStore
  data:
  - secretKey: address
    remoteRef:
      key: data/vault/{{ cyberark_safe_name }}/Database-{{ cyberark_pgsql_platform_id }}-{{ cyberark_pgsql_address }}-{{ cyberark_pgsql_username }}/address
  - secretKey: username
    remoteRef:
      key: data/vault/{{ cyberark_safe_name }}/Database-{{ cyberark_pgsql_platform_id }}-{{ cyberark_pgsql_address }}-{{ cyberark_pgsql_username }}/username
  - secretKey: password
    remoteRef:
      key: data/vault/{{ cyberark_safe_name }}/Database-{{ cyberark_pgsql_platform_id }}-{{ cyberark_pgsql_address }}-{{ cyberark_pgsql_username }}/password