apiVersion: external-secrets.io/v1beta1
kind: SecretStore
metadata:
  name: conjurcloud
  namespace: mesh-apps
spec:
  provider:
    conjur:
      url: {{ conjur_edge_url }}/api
      auth:
        jwt:
          account: conjur
          serviceID: {{ conjur_authn_service_id }}
          serviceAccountRef:
            name: productcatalogservice
            audiences:
              - https://{{ cyberark_subdomain }}.secretsmgr.cyberark.cloud